<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        @if(!user){
        <button mat-menu-item routerLink="/user/register" routerLinkActive="active">
            <mat-icon>person_add</mat-icon>
            <span>הרשמה</span>
        </button>
        <button mat-menu-item routerLink="/user/login" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            <span>התחברות</span>
        </button>
        }@else {
        <button mat-menu-item routerLink="/user/update" routerLinkActive="active">
            <mat-icon>account_box</mat-icon>
            <span>פרופיל</span>
        </button>
        <button mat-menu-item (click)="logOut()">
            <mat-icon>person_remove</mat-icon>
            <span>התנתקות</span>
        </button>
        }
    </mat-menu>
    <span>{{user?user.name: "להתחברות"}}</span>
    <span class="example-spacer"></span>
    @if(user){
    <button mat-button [routerLink]="'/course/all/' + user.id" routerLinkActive="active">הקורסים שלי</button>
    <button mat-button routerLink="/course/all" routerLinkActive="active">צפייה בקורסים</button>
        @if(user.role == 1){
        <button mat-button routerLink="/course/edit/" routerLinkActive="active">הוספת קורס</button>
        }
    }@else{
    <button mat-button routerLink="/user/register" routerLinkActive="active">הרשמה</button>
    <button mat-button routerLink="/user/login" routerLinkActive="active">התחברות</button>
    }
    <button mat-button routerLink="/home" routerLinkActive="active">עמוד הבית</button>
</mat-toolbar>