<mat-toolbar color="primary">
    <button mat-icon-button (click)="clickUser()">
        <mat-icon>account_circle</mat-icon>
    </button>
    <span>{{user?user.name: "להתחברות"}}</span>
    <span class="example-spacer"></span>
    @if(user){
    <button mat-button>הקורסים שלי</button>
    <button mat-button>צפייה בקורסים</button>
    @if(user.role == 1){
    <button mat-button>הוספת קורס</button>
    }
    }
    @else {
    <button mat-button routerLink="/user/register" routerLinkActive="active">הרשמה</button>
    <button mat-button routerLink="/user/login" routerLinkActive="active">התחברות</button>
    }
    <button mat-button routerLink="/home" routerLinkActive="active">עמוד הבית</button>
</mat-toolbar>