<p>course-details works!</p>
<div class="container">
    @if(currentCourse){
    <mat-card class="course">
        <mat-card-header>
            <div class="row-title">
                <mat-card-title class="course-name" color="accent">{{currentCourse.name}}</mat-card-title>
            </div>
        </mat-card-header>
        <div class="row-title">
            <button class="bt" mat-flat-button color="warn">
                <mat-icon>computer</mat-icon>
                למידה בזום
            </button>
            <button class="bt" mat-flat-button color="warn">
                <mat-icon>person_pin</mat-icon>
                {{"מרצה "+ currentCourse.lecturerId}}
            </button>
        </div>
        <div class="row-img">
            <img class="img" mat-card-image [src]="currentCourse.imgLink">
        </div>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list class="list-s">
                <h1 mat-subheader>סיליבוס</h1>
                @for(s of syllabus(); track s){
                <mat-list-item class="item-l">
                    <mat-icon matListItemIcon>commit</mat-icon>
                    <div matListItemLine>{{s}}</div>
                </mat-list-item>
                }
            </mat-list>
        </mat-card-content>
        <mat-divider></mat-divider>
    </mat-card>
    }
</div>