<div class="container">
    <mat-card class="form-wrap">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
            
            <mat-form-field class="field" appearance="fill">
                <mat-label>שם משתמש</mat-label>
                <input matInput formControlName="name">
                <mat-icon matSuffix>person_sharp</mat-icon>
            </mat-form-field>

            <mat-form-field class="field" appearance="fill">
                <mat-label>סיסמא</mat-label>
                <input matInput formControlName="password">
                <mat-icon matSuffix>lock_sharp</mat-icon>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">התחברות</button>
        </form>
    </mat-card>
</div>