/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
.form {
    width: 50vw;
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; 
  }
  .form-col{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  
  .form-field {
    width: 48%; 
  }